<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" ><img src="https://www.bing.com/th?id=OIP.aWVxDhAo-Lg1IQvYluMv2AHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="Logo" width="50" height="28" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/finance-form">Finance Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/bmr-form">BMR Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/bmi-form">BMI Calculator</a>
                </li>
                
            </ul>
            <span class="navbar-text">
               
                    <a class="nav-link active" aria-current="page" href="#">About Us</a>
                
            </span>
        </div>
    </div>
</nav>